.subscribe {
  background-color: #F8F8FB;
  letter-spacing: .05em;
}

.subscribe-padding {
  padding-left: 10em;
  padding-right: 10em;
}

.subscribe-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.subscribe-top-title {
  margin: auto;
  padding-top: 2em;
  font-weight: 400;
}

.subscribe-top-subtitle {
  margin: auto;
  padding-top: 1em;
  font-weight: 300;
  color: #959FAB;
  font-size: 1.2em;
}

.subscribe-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 3em;
  padding-top: 5em;
}

.subscribe-body-benefits {
  width: 31em;
  height: 42em;
  background-color: white;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  -webkit-box-shadow: 0 0px 10px rgb(225, 225, 225);
  -moz-box-shadow: 0 0px 10px rgb(225, 225, 225);
       box-shadow: 0 0px 10px rgb(225, 225, 225);
}

.subscribe-body-benefits-header {
  background-color: #009CDE;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.subscribe-body-benefits-header-title {
  color: white;
  font-weight: 400;
  padding-top: 1.2em;
  margin: auto;
  padding-bottom: .5em;
}

.subscribe-body-benefits-header-subtitle {
  font-weight: 300;
  color: #80CAEE;
  margin: auto;
  padding-bottom: 1.8em;
}

.subscribe-body-benefits-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 2em;
}

.subscribe-body-benefits-list-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 2em;
  padding-top: 1.2em;
}

.blue-check {
  color: #009CDE;
  padding-left: 3em;
  padding-right: 1em;
}

.subscribe-body-benefits-list-item-text{
  color: #637382;
  font-weight: 300;
}

.subscribe-body-benefits-list-item-text-bold {
  color: #637382;
  font-weight: 500;
}

.subscribe-body-payment {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 33em;
  max-height: inherit;
  box-sizing:border-box;
}

.subscribe-body-payment-card-number {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}

.subscribe-body-payment-card-number-label {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.subscribe-body-payment-card-img {
  height: 1em;
  width: 6em;
}

.subscribe-body-payment-card-number-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.subscribe-body-payment-card-number-input-input {
  width: 100%;
  margin: auto;
}

.subscribe-body-payment-plan {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}

.subscribe-body-payment-plan-label {
  padding-bottom: 1em;
}

.subscribe-body-payment-plan-label-text {
  font-weight: 600;
  font-size: 1.2em;
}

.subscribe-body-payment-line {
  border: 1px solid #E7E8ED;
  color: #E7E8ED;
  width: 100%;
}

.subscribe-body-payment-plan-tile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.subscribe-body-payment-plan-tile-item {
  background-color: white;
  height: 12em;
  padding-top: 2em;
  padding-bottom: 1em;
  width: 16em;
  border-radius: .5em;
  color: black !important;
}

.active {
  border: 1px solid #44B3E5;
}

.subscribe-body-payment-plan-tile-item-dollar {
  padding-left: .5em;
  font-size: 1.2em;
  vertical-align: 110%;
}

.subscribe-body-payment-plan-tile-item-bignum {
  font-size: 4em;
}

.subscribe-body-payment-plan-tile-item-change {
  font-size: 1.2em;
}

.subscribe-body-payment-plan-tile-item-month {
  color: #C3C9CF;
}

.line-break {
  width: 100%;
}
/* 
.subscribe-body-payment-plan-tile-item-billed {
  padding-left: 1em;
} */

.subscribe-body-payment-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}

.subscribe-body-payment-bottom-total {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.subscribe-body-payment-bottom-total-text {
  font-weight: 600;
  font-size: 1.5em;
}

.subscribe-body-payment-bottom-total-number {
  font-weight: 600;
  font-size: 1.5em;
}

.subscribe-body-payment-bottom-disclaimer {
  padding-top: 2em;
}

.subscribe-body-payment-bottom-disclaimer-text{
  color: #A2ABB5;
  font-size: .8em;
  font-weight: 300;
  line-height: 2.5em;
}