.home {
  text-align: center;
}

.home-banner {
  background-image: url("./assets/hero-image.png");
  height: 36em; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.home-banner-header {
  padding-top: 6em;
  padding-bottom: .5em;
  color: white;
}

.home-banner-text {
  color: white;
}

.home-header {
  background-color: rgb(255, 255, 255);
  height: 90px;
  padding: 20px;
  color: black;
}

.home-pill {
  height: 1em !important;
  width: 4.5em;
  border:0px solid #006aa8; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #008DE0; background-image: -webkit-gradient(linear, left top, left bottom, from(#008DE0), to(#0071B2));
  background-image: -webkit-linear-gradient(top, #008DE0, #0071B2);
  background-image: -moz-linear-gradient(top, #008DE0, #0071B2);
  background-image: -ms-linear-gradient(top, #008DE0, #0071B2);
  background-image: -o-linear-gradient(top, #008DE0, #0071B2);
  background-image: linear-gradient(to bottom, #008DE0, #0071B2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#008DE0, endColorstr=#0071B2);
}

.home-explore {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 4em;
  background-color: #F8F8FB;
}

.home-explore-grid {
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-explore-grid-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.home-explore-grid-tile {
  height: 200px;
  width: 80px;
  margin: 15px;
}

.home-tag {
  padding-left: 5em;
  padding-right: 5em;
  background-color: #F8F8FB;
}

.home-tag-grid{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-tag-grid-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 4em;
  text-align: left;
}

.home-tag-grid-column-item {
  padding-top: .5em;
  padding-bottom: .5em;
  color: #566577;
}

.home-app{
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 82%, rgba(32,124,229,1) 88%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(82%, rgba(32,124,229,1)), color-stop(88%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 82%, rgba(32,124,229,1) 88%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 82%, rgba(32,124,229,1) 88%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 82%, rgba(32,124,229,1) 88%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 82%, rgba(32,124,229,1) 88%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
  padding-left: 9em;
  padding-right: 9em;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-app-left-header {
  color: white;
  padding-top: 4em;
}

.home-app-left-text {
  color: white;
  padding-bottom: 2em;
}

.home-app-left-stores {
  padding-bottom: 5em;
}

.home-footer {
  padding-left: 5em;
  padding-right: 5em;
  background-color: #10283F;
}

.home-footer-grid{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-footer-grid-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 4em;
  text-align: left;
}

.home-footer-grid-column-app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 4em;
  text-align: left;
  height: 80%
}

.home-footer-grid-column-header{
  color: white;
  padding-bottom: 1em;
}

.home-footer-grid-column-item {
  color: #6A7A88;
  padding-top: .5em;
  padding-bottom: .5em;
}

.home-footer-hr{
  border: 1px solid #6A7A88;
  color: #6A7A88;
}

.home-footer-copyright {
  color: #6A7A88;
}